<div class="grid_2 alpha textcenter">
  <span class="day_of_week"><%= day.strftime("%A") %></span><br/>
  <span class="date_of_day"><%= day.strftime("%d") %></span>
  <div class="button" style="padding: 5px;"><%= link_to "+ Add Workout", new_workout_path(:date => day) %></div>
</div>

<div class="grid_9 omega">
  <% @workouts = current_user.workouts.find(:all, :conditions => ["trained_on LIKE ?", "#{day}%"], :order => "trained_on ASC") %>
  <% if @workouts.empty? %>
    <h3>You haven't entered any workouts for this day</h3>
  <% end %>
  <% @workouts.each do |workout| %>
    <%= render :partial => 'workout', :locals => {:workout => workout } %>
  <% end %>
  
</div>

<hr class="grid_11 day_seperator"/>

<div class="clear"></div>