<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p style="margin-left:250px;font-size:20pt;color:#0A263B;" ><b>New Business Added</b></p><br/><br/>
    
<p>Dear Admin,</p><br/>

<%=@vendor.business_name.capitalize%> (<%=@vendor.vendor_type%>) has added a new business.<br/><br/>

<b>MyWeightWorld.com<b>

  </body>
</html>
