<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p style="margin-left:250px;font-size:20pt;color:#0A263B;" ><b>MyWeightWorld Notifications</b></p><br/><br/>
    
<p>Hi <%=@user.first_name%>, </p><br/>

<%=@message%> 
<br/><br/>


In great health and happiness<br/><br/>
 
Scott White<br/>
Personal Power Training<br/>
Professional Fitness Trainer<br/>

<b>MyWeightWorld.com<b>

  </body>
</html>
