<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p style="margin-left:250px;font-size:20pt;color:#0A263B;" ><b>Business Query</b></p><br/><br/>
    
<p>Dear @vendor.business_name,</p><br/>

@text

Sender:@name
<b>MyWeightWorld.com<b>

  </body>
</html>
