<script type="text/javascript">
	function makeReadOnly()
	{
	  var e=document.forms[1].elements;
	  
		for(i=4;i<e.length;i++)
		{
		  document.getElementById(e[i].id).disabled=true;
		}
		document.getElementById('upload_food_pic').style.display="none";  //for hide upload photo field
		if(document.getElementById('foods-img')!=null)
		{
		  document.getElementById('food-img').style.marginTop="1em";
		  document.getElementById('foods_img').style.marginLeft="-40em";
		  document.getElementById('food_label').style.marginLeft="-40em";
		}
		e=document.getElementById('food-name');
		e.parentNode.removeChild(e);
		document.getElementById('food-head').style.display="block";
	}
	
</script>
<div>
  <% if notice %>
    <font color="red" size="3">Error: <%=notice%></font>
  <%else%>
    <%= form_for(@food) do |f| %>
      <%= f.error_messages %>
      <%= render :partial => 'form', :locals => {:f => f } %>
    <% end %>
  <%end%>
</div>

<script>
//call after page loaded
window.onload=makeReadOnly(); 
</script>
