<h1>Listing exercises</h1>

<%= link_to 'New exercise', new_exercise_path %>
<br />


<% paginated_section @exercises do %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.description %></td>
          <td class="actions">
            <%= link_to 'Edit', edit_admin_exercise_path(exercise) %> | 
            <%= link_to 'Destroy', exercise, :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>