a         { text-decoration: none; }
a:visited { color: #355BBC; }
a:hover   { text-decoration: underline; }

/*  =UNIVERSAL
  ------------------------------------------------------ */
.full {
  width: 100%;
  min-width: 1040px;
}


/*  =HEADER
  ------------------------------------------------------ */


#small-nav {
  background: #ebebeb;
}

.small-nav {
  height: 26px;
}

#main-nav {
  background: #cccccc;
}

.main-nav {
  height: 60px;
}

#logo { margin-top: 15px; }
#logo a { text-decoration: none; }

/*  =SIGN UP BOX
  ------------------------------------------------------ */
div.signup-process {
  border: 1px solid #999;
  margin-top: 25px;
}

ul.signup-progressbar {
  background: #ebebeb;
  font-size: 1.5em;
  padding: 40px 60px;
}

div.signup-process h2, 
div.signup-process p {
  padding-left: 120px;
}


/*  =FORMS
  ------------------------------------------------------ */
div.signup-process ol {
  
}

div.signup-process ol li {
  display:block;
  font-weight: bold;
}

div.signup-process ol li label, div.signup-process ol li input {
  display:block;
}

div.signup-process ol li label {
  margin-bottom: 5px;
}

div.signup-process ol li input {
  border: 1px solid #cdcdcd;
  height: 25px;
  line-height: 1em;
  margin-bottom: 24px;
  padding: 5px;
  width: 448px;
}

span.help-text{
  color:#AAA;
  font-weight: normal;
}

form .fieldError, form .fieldWithErrors {
  border: 1px solid #ff0000 !important;
  color: #e76a6a;
}

/* Sign In */
#sign-up-form { width: 400px; margin-top: 25px; }
.center { margin: 0 auto; }

.avatar-placeholder { 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px 5px; 
  margin-bottom: 10px; 
  height: 160px; width: 160px; 
  border: 1px solid black; background: url(/images/avatar_placeholder.png) no-repeat center center }
  
.profile-avatar {
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px 5px; 
  margin-bottom: 10px; 
  height: 214px; width: 214px; 
  border: 1px solid black; background: url(/images/profile-avatar-placeholder.png) no-repeat center center;
  position: absolute;
  left: 4px;
  top: 3px;
}

#content { padding-top: 22px; position: relative; }

#profile-tabs {
  margin-bottom: 0px;
}

#profile-tabs li{
  display: inline-block;
  width:   118px;
  height:  16px;
  padding:  14px;
  margin: 0px;
  margin-top:   15px;
  border-left:  1px solid gray;
  border-top:   1px solid gray;
  border-right: 1px solid gray;
  
}

#profile-tabs li div { width: 80px; margin: 0 auto; text-align: center; font-size: 1em; font-weight: bold; background-color: #D9D9D9; }
#profile-tabs li a, #profile-tabs li a:visited { color: #1C75C9; text-decoration: none; }
#profile-tabs li { background-color: #D9D9D9; }
#profile-tabs li.active { background-color: #EBEBEB; }
#profile-tabs li.active div { background-color: #EBEBEB; }

.active-tab-content { background-color: #EBEBEB; }

.profile-center-content .alpha { font-weight:bold; }
.profile-center-content div { margin-bottom: 10px; }

#profile-center { margin-top: 30px; }
.profile h2 { font-size: 1.5em; }
#latest-goal { margin-top: 4px; }

#personal-stats span { color: #1C75C9; }
h2#personal-info {margin-top: 33px; margin-bottom: 12px; }

#active-tab-content { background-color: #EBEBEB; height: 105px; }
#active-tab-content #page-description { margin-top: 38px; }

#profile-sub-header { background-color: #EBEBEB; height: 150px; border-bottom: 1px solid #D0D0D0; }

.profile-center-content h2 a { font-size: .6em; text-decoration: none; }

/* TERMS PAGE */
h3 a { text-decoration: none; color: black; }
h4 a { text-decoration: none; color: black; }

/* PROFILE */

/* EDIT PERSONAL INFO */
.edit textarea { height: 75px; }
#settings-content { margin-top: 15px; }

td { border:none; }

#user-settings-tabs li        { border-top: 1px solid #E6E5E6; list-style: none; margin: 0; padding: 15px 10px; }
#user-settings-tabs li.active, #user-settings-tabs li:hover { background-color: #EFEFF0; }
#user-settings-tabs a         { font-weight: bold; }

/* BMI TABLE */
table#bmi input[type=text] { width: 50px; }

/* TRACKING PAGE */
/*#tracking-center { margin-top: 5px; }*/
#tracking-calories-header { background-color: white; text-align: center; border: 1px solid #CCC; padding: 18px; }
#tracking-calories-header h2 { margin: 0px; }

#calorie-table { background-color: white; border: 1px solid #CCC; width: 100%; }
#calorie-table tr > td { border-right: 1px solid #CCC; }
#calorie-table td {  border-collapse: collapse; font-size: 13pt; text-align: center; text-decoration: line-through; width: 50%; }
#calorie-table span.count { font-size: 2em; font-weight: bold; }

.tracking-button { background-color: #0D87D0; margin: 5px; padding: 10px 5px; }