/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* 1) Always force a scrollbar in non-IE 
   2) Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html { overflow-y: scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
  
/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

/*a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }*/

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements. 
      Firefox adds a 1px margin above and below textareas 
   3) Set font-size to match <body>'s, and font-family to sans-serif 
   4) Align to baseline */
button, input, select, textarea { width: auto; overflow: visible; margin: 0; font-size: 100%; font-family: sans-serif; vertical-align: baseline; }

/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
   2) Align to text-top */
textarea { overflow: auto; vertical-align:text-top; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Remove extra padding and inner border in Firefox */
input::-moz-focus-inner,
button::-moz-focus-inner { border: 0; padding: 0; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/**
 * Primary styles
 *
 * Author: 
 */
 
/* BLUEPRINT STYLES */
 a img {border:none;}
 :focus {outline:0;}
 
 h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
 h2 {font-size:2em;margin-bottom:0.75em;}
 h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
 h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
 h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
 h6 {font-size:1em;font-weight:bold;}
 h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
 
 /* Blueprint forms.css */
 label {font-weight:bold;}
 fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
 legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
 fieldset, #IE8#HACK {padding-top:1.4em;}
 legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
 input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;color:#000;}
 input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
 select {background-color:#fff;border-width:1px;border-style:solid;}
 input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.5em 0;}
 input.text, input.title {width:300px;padding:5px;}
 input.title {font-size:1.5em;}
 textarea {width:390px;height:250px;padding:5px;}
 form.inline {line-height:3;}
 form.inline p {margin-bottom:0;}
 .error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
 .error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
 .notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
 .success {background:#e6efc2;color:#264409;border-color:#c6d880;}
 .info {background:#d5edf8;color:#205791;border-color:#92cae4;}
 .error a, .alert a {color:#8a1f11;}
 .notice a {color:#514721;}
 .success a {color:#264409;}
 .info a {color:#205791;}
 
 body      { background-color: #f0f0f0; }
 a         { text-decoration: none; }
 a:hover   { text-decoration: underline; }
 
 .center   { margin: 0 auto; }
 .textcenter { text-align: center; }
 .full     { width: 100%; min-width: 1040px; }
 .bold     { font-weight: bold; }
 
 .light-blue { background-color: #91D1E8; }
 
 fieldset  { border: 0px; }

 /* help text in text fields */
 input.labelHighlight { color: #999; }

 /* jQuery Overrides */
 .ui-slider, .ui-slider-range { background: #AAA; }
 .ui-slider .ui-slider-handle { background: #0D87D0 !important; border: 1px solid #0D87D0 !important; width: .8em; }
 .ui-slider-horizontal .ui-slider-handle { top: -0.4em; }

 /*  =HEADER
   ------------------------------------------------------ */
 #small-nav { background: #ebebeb; }
 .small-nav { height: 26px; }

 #main-nav  { background: #cccccc; }
 .main-nav  { height: 60px; }

 

 /*  =SIGN UP BOX
   ------------------------------------------------------ */
 div.signup-process    { border: 1px solid #999; margin-top: 25px; }
 ul.signup-progressbar { background: #ebebeb; font-size: 1.5em; padding: 40px 60px; }

 /*  =FORMS
   ------------------------------------------------------ */
 input[type=text], input[type=password] { border: 1px solid #cdcdcd; height: 25px; line-height: 1em; padding: 5px; }

 div.signup-process ol li       { display:block; }

 div.signup-process ol li label,
 div.signup-process ol li input { display:block; }

 div.signup-process ol li label { margin-bottom: 5px; }
 div.signup-process ol li input { margin-bottom: 24px; width: 448px; }

 span.help-text { color:#AAA; font-weight: normal; }

 form .fieldError, form .fieldWithErrors { border: 1px solid #ff0000 !important; color: #e76a6a; }

 /* Sign In */
 #sign-up-form { width: 400px; margin-top: 25px; }

 .avatar-placeholder { 
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px 5px; 
   margin-bottom: 10px; 
   border: 1px solid #fff; background: url(/images/avatar_placeholder.png) no-repeat center center }

 .profile-avatar {
   display: inline;
   float: left;
   width: 140px; 
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px 5px; 
   margin: 12px 0px 10px 19px; 
   border: 1px solid #fff;
 }
 
 .small-avatar { height: 78px; width: 78px; }
 
 #edit-profile { font-size: 12pt; color: #444; display: inline-block; float: left; width: 77px; 
                 height: 44px; line-height: 44px; margin: 12px 0px 0px 20px; text-align: center; }
 
 #edit-profile.wide { width: 138px; height: 31px; line-height: 33px; }

 #content      { padding-top: 36px; position: relative; }
 /*#profile-tabs { margin: 0px; }

  #profile-tabs li { border-left: 1px solid gray; border-top: 1px solid gray; border-right: 1px solid gray; display: inline-block; 
                     height: 16px; margin: 0px; margin-top: 15px; padding: 14px; width: 118px; }

  #profile-tabs li div { width: 80px; margin: 0 auto; text-align: center; font-size: 1em; font-weight: bold; background-color: #D9D9D9; }
  #profile-tabs li a, 
  #profile-tabs li a:visited  { color: blue; text-decoration: none; }
  #profile-tabs li            { background-color: #D9D9D9; }
  #profile-tabs li.active     { background-color: #EBEBEB; }
  #profile-tabs li.active div { background-color: #EBEBEB; }

  .active-tab-content { background-color: #EBEBEB; }*/
 
 h2#personal-info     { margin-top: 33px; margin-bottom: 12px; }
 
 #active-tab-content  { background-color: #EBEBEB; height: 105px; }
 #active-tab-content #page-description { margin-top: 38px; }
 
 #profile-sub-header  { background-color: #EBEBEB; height: 150px; border-bottom: 1px solid #D0D0D0; }
 
 /* TERMS PAGE */
 h3 a { text-decoration: none; color: black; }
 h4 a { text-decoration: none; color: black; }
 
 /* PROFILE */
 #logo      { height: 60px; line-height: 60px; background-color: #fff; margin-bottom: 0px; text-align: center; }
 #logo a    { color: #444; text-decoration: none; font-size: 25pt; }
 
 #back-bar  { color: #444; display: block; height: 52px; line-height: 52px; font-size: 14pt; text-align: center; 
              background: -moz-linear-gradient(0% 15% 90deg,#91D1E8, #91D1E8, #7fb8cc 100%);
              background: -webkit-gradient(linear, 0% 0%, 0% 15%, from(#91D1E8), to(#91D1E8), color-stop(0,#7FB8CC)) }
 #back-bar a { color: #444; display: block; background-image: url(/images/icon-backarrow.png); background-position: 39px 16px; background-repeat: no-repeat; }
 #nav-bar    { height: 52px; }
 #nav-bar ul { margin: 0; padding: 0; list-style: none; }
 #nav-bar ul li { background-color: #fff; display: inline; float: left; margin: 0px 1px 0px 0px; width: 40px; padding: 0px 10px; text-align: center; }
 #nav-bar a  { color: #444; display: block; height: 52px; line-height: 52px; }
 #nav-bar a#profile-tab { background-image: url(/images/icon-myprofile.png); background-repeat: no-repeat; background-position: 9px 15px; }
 #nav-bar a#food-tab { background-image: url(/images/icon-food.png); background-repeat: no-repeat; background-position: 12px 15px; }
 #nav-bar a#exercise-tab { background-image: url(/images/icon-exercise.png); background-repeat: no-repeat; background-position: 9px 15px; }
 
 #user-name { font-size: 18pt; margin: 29px 0px 0px 19px; }
 
 p#permalink      { margin: 9px 0px 0px 22px; padding-left: 29px; background: url(/images/icon-shortlink.png) no-repeat left center }
 p#twitter-handle { margin: 9px 0px 0px 22px; padding-left: 29px; background: url(/images/icon-twitter.png) no-repeat left center }
 p#location       { margin: 9px 0px 0px 22px; padding-left: 29px; background-image: url(/images/icon-location.png); 
                    background-position: 2px 0px; background-repeat: no-repeat; }
 p#location.right-side { float: left; margin: 10px 0px 0px 20px; }
 
 #achievement-calendar      { display: inline; float: left; width: 80px; height: 94px; position: relative; 
                              background-image: url(/images/calendar-large.png); background-position: 0px 0px; background-repeat: no-repeat; }
 #achievement-calendar div  { font-size: 17pt; padding: 28px 0px 0px 0px; text-align: center; }
 #achievement-calendar span { font-size: 26pt; line-height: 16pt; }
 #achievement-text          { text-align: center; font-size: 11pt; padding-top: 9px; }
 #achievement-text span#pounds     { font-weight: bold; font-size: 14pt; }
 #achievement-text .edit form { font-size: 10pt; }
 #update-weight             { color: #444; display: block; text-align: center; width: 100px; margin: 11px auto; padding: 7px 20px; }
 
 .space             { margin-bottom: 20px; }
 .profile-label     { display: inline; float: left; margin: 0px 10px 0px 20px; width: 140px; }
 .sidebar-container { -moz-box-shadow: 2px 2px 2px #666;
                      -webkit-box-shadow: 2px 2px 2px #666;
                      box-shadow: 2px 2px 2px #666;
                      background-color: white;
                      
                    }
  .sidebar-container.subsection { padding: 18px 0px 18px 20px; margin-bottom: 2px;}
  h4.sidebar-subheader { margin-bottom: 0px; }
  .large-calories      { font-size: 36pt; height: 47px; }
  .large-calories span { color: #f26c4f; }
  .small-text          { font-size: 10pt; margin-bottom: 5px; }
  .calories-this-week  { font-size: 16pt; }

 /* EDIT PERSONAL INFO */
 .edit textarea    { height: 75px; }
 #settings-content { margin-top: 15px; }

 td { border: none; }

 #user-settings-tabs li        { border-top: 1px solid #E6E5E6; list-style: none; margin: 0; padding: 15px 10px; }
 #user-settings-tabs li.active, 
 #user-settings-tabs li:hover  { background-color: #EFEFF0; }
 #user-settings-tabs a         { font-weight: bold; }

 /* BMI TABLE */

 /* TRACKING PAGE */

 #calorie-table #header,    #BMI-table #header { background-color: white; text-align: center; border: 1px solid #CCC; padding: 18px; }
 #calorie-table #header h2, #BMI-table #header h2 { margin: 0px; }

 #calorie-table, #BMI-table     { background-color: white; border: 1px solid #CCC; width: 100%; }
 #calorie-table p, #BMI-table p { margin-bottom: .5em; }
 #calorie-table tr > td { border-right: 1px solid #CCC; }
 #calorie-table td, #BMI-table td {  border-collapse: collapse; font-size: 13pt; text-align: center;  width: 50%; } 
 #calorie-table span.count, #BMI-table span.count { font-size: 2em; font-weight: bold; }

 .button   { color: white; background-color: #0D87D0; margin: 5px; -moz-border-radius: 5px; padding: 10px 5px; text-align: center; }
 .button a { color: white; text-decoration: none; }
 #height-slider, 
   #weight-slider   { height: 10px; margin-bottom: 10px; width: 180px !important; }
 form.edit #height-slider, 
   form.edit #weight-slider   { width: 300px !important; }
   
 /* New Meal Entry */
 #meal-entry, #workout-entry                   { background-color: #F6F6F6; border: 2px solid #006597; padding: 15px; width: 100%; }
 #meal-entry table, #workout-entry table       { width: 100%; }
 #meal-entry table td, #workout-entry table td { vertical-align: middle; }

 #meal-items td, 
   #workout-items td        { border-bottom: 1px solid #CCC; }
 #meal-items .servings { width: 115px; }
 #meal-items .serving-size { width: 210px; }
 /*#meal-items .food-name { width: 295px; }*/

 #calendar-box       { background: url("/images/calendar.png") no-repeat scroll 95% 50% transparent; border: 1px solid #A6A6A6; 
                       float: left; font-size: 1.3em; height: 34px; line-height: 44px; margin-right: 10px; width: 148px; }
 #selected-date      { padding-left: 14px; }
 #selected-date-help { font-size: 1em; padding-top: 12px; }
 #food-item-entry,
   #exercise-item-entry    { width: 337px; }


 form#meal .delete,
   form#workout .delete { float: right; margin-top: 8px; }

 form#meal-new-item textarea,
   form#workout-new-item textarea { height: 75px; width: 655px; }
 /*form#meal-new-item select   { padding: 5px; }*/

 #workout-items .exercise-name { width: 465px; }

 .ui-datepicker { z-index: 10000; }
 ul.ui-autocomplete { height: 200px; overflow-y: scroll; }

 /* Food Journal */
 .date_of_day    { font-size: 3em; line-height: 0.8em; }
 .day_seperator  { background-color: #CCC; height: 3px; -moz-border-radius: 3px; }
 .meal-item-calories  { float: right; }
 .meal-total-calories { float:right; }
 .meal-items     { margin: 0; }
 .meal-items li  { list-style: none; margin: 0; }

 .h3 { font-size: 1.5em; line-height: 1.2; margin-bottom: 0.476em; font-weight: normal; margin: 0; padding: 0; }

 /* Flash Messags */
 #flash_notice {
   border: 2px solid red;
   padding: 1em;
   margin-bottom: 2em;
   background-color: #f0f0f0;
   font: bold smaller sans-serif;
 }

 /* Error Messages */
 /* The error box */

 .fieldWithErrors {
   padding: 2px;
   background-color: #EEFFEE;
   display: inline;
 }

 .fieldWithErrors * {
   background-color: red;
 }

 #errorExplanation {
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom: 20px;
   background-color: #f0f0f0;
 }

 #errorExplanation h2 {
   text-align: left;
   font-weight: bold;
   padding: 5px 5px 5px 15px;
   font-size: 12px;
   margin: -7px;
   background-color: #c00;
   color: #fff;
 }

 #errorExplanation p {
   color: #333;
   margin-bottom: 0;
   padding: 5px;
 }

 #errorExplanation ul li {
   font-size: 12px;
   list-style: square;
 }

 td.actions { white-space: nowrap; width: 80px; }
 tr.odd td  { background-color: #F0F0F6; }
 table.admin { width: 100%;}













/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/**
 * Placeholder media queries for responsive design. Modify as design requires.
 * These follow after, and will override, the primary ('mobile first') styles
 * The closing /mediaquery comment is required by respond.js min/max-width Media Query polyfill
 */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}/*/mediaquery*/

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}/*/mediaquery*/



/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



