<form action="" method="get">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
      <th colspan="2"><h2>Custom Food Form</h2></th>
		</tr>
		<tr>
			<td>Name:</td>
			<td><input type="text" name="meal_name" value="" id="" /></td>
		</tr>
		<tr>
			<td>Amount:</td>
			<td>1 Serving</td>
		</tr>
	</table>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><th><h1>Nutrition Facts</h1><hr><span>amount per serving</span></th></tr>
		<tr><td></td></tr>
		
		<tr><td>Data</td></tr>
	</table>
	<p><input type="submit" value="Continue &rarr;" /></p>
</form>
