<% if category.has_content? %>
  <li class="<%= params[:search] && params[:search][:category_id] == category.id.to_s ? 'selected' : '' %>">
    <%= link_to category.name, searches_path("search[category_id]" => category.id), "data-id" => category.id %>
  </li>
<% end %>
