<div class="grid_4">
  <ul>
    <li>
      <%= link_to 'Personal Info', user_edit_personal_info_path(current_user) %>
    </li>
    <li>
      <%= link_to 'Nutritional Info', user_edit_nutrition_info_path(current_user) %>
    </li>
    <li>
      <%= link_to 'Exercise Info', user_edit_exercise_info_path(current_user) %>
    </li>
  </ul>
  
</div>