

<div style="margin-bottom: 21px;">
  <%= f.label :weight, %Q{Weight <span class="help-text">(Weight will not be publicly displayed)</span> }.html_safe %><br/>
  <span id="weight-view" style="padding-right:100px"></span> <span id="weight-view-kg"></span>
  <div id="weight-slider"></div>
  
  <%= f.hidden_field :weight, :id => 'weight-val',  :value => @slider_weight %>
</div>

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
    $('#height-slider').slider({
          range: "min",
          value: <%= @slider_height %>,
          min: 36,
          max: 98,
          slide: function( event, ui ) {
            var feet   = Math.floor( ui.value / 12);
            var inches = Math.round((ui.value / 12 - feet) * 12);
            $( "#height-view" ).html( feet+"'"+inches+'"' );
            $( "#height-val" ).val( ui.value );
          }
        });
    
    var feet   = Math.floor($( "#height-slider" ).slider( "value" ) / 12);
    var inches = Math.round(($( "#height-slider" ).slider( "value" ) / 12 - feet) * 12);
    $( "#height-view" ).html( feet+"'"+inches+'"' );
    
    $('#weight-slider').slider({
          range: "min",
          value: <%= @slider_weight %>,
          min: 0,
          max: 650,
          slide: function( event, ui ) {
            $( "#weight-view" ).html( ui.value + ' lbs' );
             $( "#weight-view-kg" ).html( ((ui.value)*0.4535924).toFixed(2) + ' kg' );
            $( "#weight-val" ).val( ui.value );
          }
        });
    $( "#weight-view" ).html( $( "#weight-slider" ).slider( "value" ) + ' lbs' );
    $( "#weight-view-kg" ).html(($( "#weight-slider" ).slider( "value" )*0.4535924).toFixed(2) + ' kg' );

  <% end %>
</script>
