<link rel="stylesheet" type="text/css" href="/assets/myweightworld.css"/>

<div id="wrapper">
  <div class="top-header"></div>
  <div class="test-name"><img src="/assets/measurements.png" /></div>
  <div class="top-menu">
    <ul>
      <li><a href="#">CIRCUMFERENCE</a></li>
      <li><a href="#">BODY FAT %</a></li>
      <li><a href="#">GRAPH</a></li>
      <div class="clear"></div>
    </ul>
  </div>
  <div class="measurements-man">
    <div class="left-col fleft" style="width:130px; margin-top:50px;">
      <p class="font-color-orange"><strong>Neck</strong></p>
      <input name="" class="input" style="margin:5px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
      <p class="font-color-orange m2"><strong>Chest</strong></p>
      <input name="" class="input" style="margin:7px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
      <p class="font-color-orange" style="margin-top:77px;"><strong>Right Upper Arm</strong></p>
      <input name="" class="input" style="margin:5px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
      <p class="font-color-orange m2"><strong>Right Forearm</strong></p>
      <input name="" class="input" style="margin:6px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
      <p class="font-color-orange m2"><strong>Right Thigh</strong></p>
      <input name="" class="input" style="margin:6px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
      <p class="font-color-orange m2"><strong>Right Calf</strong></p>
      <input name="" class="input" style="margin:7px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
    </div>
    <div class="fleft" style="width:102px; margin-left:16px;">
    	<p class="font-color-white aligncenter"><strong>Height</strong></p>
        <input name="" class="input" style="margin:10px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
    </div>
    <div class="fleft" style="width:102px; margin-left:68px;">
    	<p class="font-color-white aligncenter"><strong>Weight</strong></p>
        <input name="" class="input" style="margin:10px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
    </div>
    <div class="left-col fright" style="width:109px; margin-top:50px;">
      <p class="font-color-orange"><strong>Shoulder</strong></p>
      <input name="" class="input" style="margin:5px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
      <p class="font-color-orange m2"><strong>Waist</strong></p>
      <input name="" class="input" style="margin:7px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
      <p class="font-color-orange m2"><strong>Hip</strong></p>
      <input name="" class="input" style="margin:7px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
      <p class="font-color-orange m2"><strong>Left Upper Arm</strong></p>
      <input name="" class="input" style="margin:5px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
      <p class="font-color-orange m2"><strong>Left Forearm</strong></p>
      <input name="" class="input" style="margin:6px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
      <p class="font-color-orange m2"><strong>Left Thigh</strong></p>
      <input name="" class="input" style="margin:6px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
      <p class="font-color-orange m2"><strong>Left Calf</strong></p>
      <input name="" class="input" style="margin:7px 5px 5px 5px;border:1px solid #fff;height:25.4px;padding:1px;" type="text" />
    </div>
    <div class="clear"></div>
    <div class="title">Enter your circumference Measurements</div>
  </div>
  <div class="footer">
    <div class="footer-logo"></div>
  </div>
</div>
