<!--multi sliders -->


<script type="text/javascript">
<% content_for :js do %>
$(document).ready(function() {
    $(".slider").slider({
        step: 0.1,
        min: 0,
        max: 100,
        value: 0,
        slide: function(event, ui) {
            $("#"+$(this).attr("id") + "-view").html(ui.value);
            $("#"+$(this).attr("id") + "-val").val(ui.value);
        }
    });
  		                    $("#"+$(this).attr("id") + "-view").html(ui.value);
  });

<%end%>
</script>





<div class="grid_11">
<%=link_to "Back", :back%><br/>

<h1 style="background-color:#BDBDBD;padding:5px;width:40%;text-align:center;color:#FBF2EF;">Body Measurements</h1>
<%= form_for @meas, :url => newmeasurement_user_path do |f| %>
 <%= render :partial => 'measurement_form', :locals => { :f => f } %>
   <% end %>
<br/><%=link_to "Back", :back %><br/> </div>



 
