
<!-- SIGN UP BOX BEGINS -->
<div class="signup-process grid_12 push_2">
  
  <div class="grid_12 alpha omega">
    <ul class="signup-progressbar grid_10 alpha">
      <li class="grid_3 alpha"><strong>1.</strong> Join In</li>
      <li class="grid_3"><strong>2.</strong> Personal</li>
      <li class="grid_3"><strong>3.</strong> follow</li>
      <li class="grid_1 omega"><strong>;)</strong></li>
    </ul>
  </div>
  
  <div class="grid_10 alpha push_1">
    <br/>
    <h2>Join the community!</h2>
    <p>
      Suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
    </p>
    
    <% form_for @user do |f| %>
      <%= f.error_messages %>
      
      <ol class="forms">
        <%= render :partial => 'form', :locals => {:f => f} %>
      </ol>
      
      <%= f.submit 'On to the Next Step!' %>
      
    <% end %>
  </div>
  
  <div style="clear:both">&nbsp;</div>
</div>

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
    $('input[type=text]').labelify({labelledClass: "label-highlight"});
  <% end %>
</script>