<%= render :partial => 'edit_profile_tabs' %>


<div id="settings-content" class="grid_12">
  <h3>Personal Information</h3>
  
  <% form_for current_user, :html => {:multipart => true, :class => 'edit'} do |f| %>
    <%= render :partial => 'personal_info', :locals => {:f => f} %>
    
    <p>
      <%= f.submit 'Save' %>
    </p>
  <% end %>
</div>
