<div class="signup-process grid_11 alpha">

  <div class="grid_11 alpha omega signup-form-header">
    <ul class="signup-progressbar grid_9 alpha">
      <li class="grid_3 alpha"><strong>1.</strong> Join In</li>
      <li class="grid_3 push_2"><strong>2.</strong> Personal</li>
    </ul>
  </div>

  <div id="signup-content" class="grid_10 push_1 alpha">
    
    <%= form_for current_user, :url => "/finalize", :html => { :multipart => true, :class => "forms" } do |f| %>
      <%= f.error_messages %>
      
      <ol class="forms">
        <%= render :partial => "step_two", :locals => {:f => f} %>
      </ol>
      
      <button class="button grid_4 alpha" type="submit">
        Next Step, Please!
      </button>
    <% end %>
  </div>

<div style="clear:both">&nbsp;</div>

<% content_for :sidebar do %>
  <div class="signup-sidebar-header" style="margin-top: 35px;">We know - this is personal information.</div>

  <p>My Weight World keeps all personal information private and we only use for your benefit; for example, to determine your daily calorie needs and consumption as well as tailored exercise information and goals. As always, entering personal information is optional.</p>

  <p class="personal-info-desc"><span class="bold">Weight</span> - Enter your weight and be accurate. This information will determine the amount of calories you need to consume and burn to reach your goals.</p>

  <p class="personal-info-desc"><span class="bold">Height</span> - Enter your height and be accurate. This information goes into a formula so we can determine your metabolism.</p>

  <p class="personal-info-desc"><span class="bold">Fitness Goals</span> - We want you to reach all your fitness goals. The more information you provide us and the more questions you ask us in our forum the better we can help support you and achieve your fitness goals. My Weight World is here to help you and want you to be successful.</p>
<% end %>
