<div class="signup-process grid_11 alpha">

  <div class="grid_11 alpha omega signup-form-header">
    <ul class="signup-progressbar grid_9 alpha">
      <li class="grid_3 alpha"><strong>1.</strong> Join In</li>
      <li class="grid_3 push_2"><strong>2.</strong> Personal</li>
    </ul>
  </div>

  <div id="signup-content" class="grid_10 push_1 alpha">
    
    <% form_for current_user, :url => "/finalize", :html => { :multipart => true, :class => "forms" } do |f| %>
      <%= f.error_messages %>
      
      <ol class="forms">
        <%= render :partial => "step_two", :locals => {:f => f} %>
      </ol>
      
      <button class="button grid_4 alpha" type="submit">
        Next Step, Please!
      </button>
    <% end %>
  </div>

<div style="clear:both">&nbsp;</div>

<% content_for :sidebar do %>
  <div class="signup-sidebar-header" style="margin-top: 35px;">We know - this is personal information.</div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco .</p>

  <p class="personal-info-desc"><span class="bold">Weight</span> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>

  <p class="personal-info-desc"><span class="bold">Height</span> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>

  <p class="personal-info-desc"><span class="bold">Fitness Goals</span> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
<% end %>