<div class="signup-process grid_12 push_2">

  <div class="grid_12 alpha omega">
    <ul class="signup-progressbar grid_10 alpha">
      <li class="grid_3 alpha"><strong>1.</strong> Join In</li>
      <li class="grid_3"><strong>2.</strong> Personal</li>
      <li class="grid_3"><strong>3.</strong> follow</li>
      <li class="grid_1 omega"><strong>;)</strong></li>
    </ul>
  </div>

  <div class="grid_10 alpha push_1">
    <h2>Tell Us About Yourself</h2>

    <% form_for current_user, :url => "/finalize", :html => { :multipart => true } do |f| %>
      <%#= f.error_messages %>
      <fieldset>
        <ol class="forms">
          <%= render :partial => "step_two", :locals => {:f => f} %>
        </ol>
      </fieldset>

      <fieldset>
        <%= f.submit 'Next Step, Please!' %>
      </fieldset>
    <% end %>
  </div>

<div style="clear:both">&nbsp;</div>
