<%= link_to 'Back to Search', :back %>

<hr/>

<h1><%= @video.title %></h1>

<%= @video.description.html_safe %>

<%= link_to '', @video.file1.url , :id => 'player', :style => 'display: block; width: 527px; height: 350px; margin: 15px; ' %>
