<div class="sidebar-container subsection" >
  <h4 class="sidebar-subheader">Achievement Date</h4>
  
  <div id="achievement-calendar" class="">
    <div id="achievement-date">
      <%= render :partial => 'shared/achievement_date', :locals => {:user => current_user} %>
    </div>
  </div>
  
  <div id='achievement-text' class="grid_3">
    <span id="pounds"><span class="edit"><%= current_user.weight %></span> lbs</span><br/>
    recorded <span id="days-ago"><%= distance_of_time_in_words_to_now(current_user.weights.first.try(:created_at)).gsub('about', 'about<br/>') %> ago</span>
    
    <%= link_to 'Update Weight', edit_metabolic_rates_path, :id => 'update-weight', :class => 'light-blue' %>
  </div>
  
  <div class="clear">&nbsp;</div>
</div>