<ol id="nav-tabs" style="">
  <li><%= link_to "VENDORS".html_safe, vendors_path %></li>
  <li><%= link_to "ARTICLES".html_safe, posts_path %></li>
  <li><%= link_to "VIDEO LIBRARY", videos_path %></li>
  <li></li>
  <li></li>
</ol>
