<a href="<%= new_user_registration_path %>" class="grid_5 <%= klass if defined?(klass) %>" id="large-orange-button" style="<%= style if defined?(style) %>">
  <div>Start tracking!</div>
  <span>It's super easy and fun.</span>
  <%= image_tag 'arrow.png' %>
</a>