<div class="container_16">
	<div class="grid_5 ">
		<div id="search-categories-sidebar" class="sidebar-container subsection" >
 			<h4 class="sidebar-subheader">Follow Us</h4>
 
 			<hr/>
 
 
 			<div class="clear">&nbsp;</div>
		</div>
	</div>
	<div id="hor-rule" class="grid_11">
		<h2>About Us</h2>
		<br/>
		<h3 class="post-title">Mission Statement</h3>
		<p>My Weight World was created as a resource and support community for anyone seeking to manage their weight or simply desiring a healthier way of life. Our members range from those who want to just lose a few pounds to people seeking radical weight loss. MyWeightWorld.com has a significant number of resources to help you reach your goal of leading a healthy lifestyle. This site is updated constantly using the latest scientific and medical information and feedback from members.</p><br>

		<p>My Weight World was developed by weight loss physicians, medical professionals as well as non-medical people, who are passionate about helping people achieve their weight loss objectives. We provide our members with resources unmatched in quality and value, yet retain a strong spirit of community.</p><br>

		<p>This site is recognized by hospitals, surgeons, physicians, weight loss clinics, dietitians, exercise physiologists and their affiliates many of whom have become members and support the mission of My Weight World. We continue to receive positive feedback from our growing community members about the site and all it has to offer.</p><br>
		<hr>
		<br/>

<!--		<h3 class="post-title">Terms and Conditions</h3>
		<p>PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS SITE.</p><br>

		<p>By using this site, you signify your assent to these Terms and Conditions. If you do not agree to all of these Terms and Conditions of use, do not use this site!</p><br>

		<p>MyWeightWorld, LLC ("MyWeightWorld") may revise and update these Terms and Conditions at any time. Your continued usage of the MyWeightWorld website ("MyWeightWorld Site," or the "Site,") will mean you accept those changes.</p>
		 </p><br>
		<hr><br>-->
		
		
		
		<h3 class="post-title" >Privacy Policy</h3>
		<p>MyWeightWorld, LLC ("MyWeightWorld") may revise and update this Privacy Policy at any time. Your continued usage of the MyWeightWorld website ("MyWeightWorld Site," or the "Site,") will mean you accept those changes.

		MyWeightWorld understands how important the privacy of personal information is to our users. This Privacy Policy will tell you what information we collect about you and about your use of MyWeightWorld and its services. It will explain the choices you have about how your personal information is used and how we protect that information. We urge you to read this Privacy Policy carefully. </p>
	</div>
</div>
