<div class="grid_5">
  <span style="display: inline-block; margin-top: 33px; line-height: 29px; color: #FFF; font-size: 25px; font-weight: bold; font: helvetica;">We're building a community for guidance in fitness & wellness.</span>
  
  <span style="display: inline-block; margin-top: 7px; color: #FFF; font-size: 18px; font: helvetica;">Set goals, track calories, get feedback, find helpful content - partake in bettering the community and the community will help build a better you.</span>
</div>
<div class="grid_11">
  <%= image_tag 'screenshot.png', :style => 'display: block; margin-top: 10px;', :class => 'grid_10 alpha omega push_1' %>
</div>