<html>
	<head>
	<style>
		span{
			color:#086A87;
		}
		.mdm_size{
			font-size:13px;	
			color:#000;
		}
		.sml{
			font-size:11px;		
		}
		.cadstl{
			color:#0B610B;
			font-weight:bold;
			font-size:14px;
		}
		.titl{
			font-size:24px;
			color:#0B3861;
			text-align:left;		
		}
		.clear{
			clear:both;
		}
		.srch{
			font-size:16px;
		}
		#left_table,#right_table{
			float:left;
			width:26%;
			margin-right:10px;
		}
		.nutri{
			color:#000;
			font-size:18px;
		}
	</style>
	</head>
	<body>
		<span class="titl">Calorie Chart, Nutrition Facts for Food</span><br>	
		<table border="0" id="left_table">
			<tr>
				<td><hr color="#81DAF5" size="3"></td>
			</tr>			
			<tr>
				<td><span class="srch">Search our food database by name:</span></td>
			</tr>
			<tr>
				<td><input type="text" name="search" size="22" /><input type="submit" value="  search  " /></td>
			</tr>
			<tr>
				<td>
					<span>Matching Foods:</span>
					<span class="mdm_size"><b>Sort by: </b>Relevance<input type="radio" name="srt_by" value="off" />
					Name<input type="radio" name="srt_by" value="on" checked /></span>
				</td>
			</tr>
			<tr>
				<td>
					<select name="food_list" multiple="multiple" style="width:83%;height:150px;background-color:white;">
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
						<option>aaaa</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="sml">*= Nutritional information provided by another MyFitnessPal member</td>
			</tr>
		</table>
		
		<table border="0" id="right_table" border="0">
			<tr>
				<td colspan="2"><hr color="#81DAF5" size="3"></td>
			</tr>
			<tr>
				<td><span class="nutri">Nutrition Facts</span></td>
				<td align="right"><input type="submit" value="Edit" /></td>
			</tr>
			<tr>
				<td colspan="2" class="cadstl">Cadbury -230g Dairy Milk Caramel (5 Chunks - 150 Cal)<hr color="#000" size="3"></td>
			</tr>
			<tr>
				<td colspan="2">
					<b>Servings:</b><input type="text" name="serving" size="6" />
					<select name="chunks_list" style="width:56%;">
						<option>1 chunks</option>
						<option>2 chunks</option>
						<option>3 chunks</option>
						<option>4 chunks</option>
						<option>5 chunks</option>
						<option>6 chunks</option>
					</select>
					<hr color="#000" size="3">
				</td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td><br></td>
				<td><br></td>
			</tr>
			<tr>
				<td colspan="2" class="sml">*Percent Daily Values are based on 2,000 calorie diet. Your daily values may be higher or lower depending on yoour calorie needs.</td>
			</tr>
		</table>
	</body>
</html>
