<style type="text/css">
.ajaxAutoComplete{
	background-color:#fff;
	border:1px solid black;
  	width:24.4%;
  	height:120px;
	display:none;
	position:absolute;

	overflow-y:scroll;
	z-index:300;
}
</style>

<script tyle="text/javascript">
function dataGrid(obj)
{
	data="<table id='city'>";
	row="";
	for(i=0;i<obj.length;i++)
	{			
		row+="<tr id="+(obj[i].toString().split(",")[0])+" onmouseover='selectedRow(this)' onclick=getTdVal('"+obj[i].toString().split(",")[0]+"') onmouseout='unSelectedRow(this)'><td style='width:60%;'>"+obj[i].toString().split(",")[1]+"</td><td style='width:40%;'>("+obj[i].toString().split(",")[2]+")</td></tr>";
	}
	data+=row+"</table>";
	
	return data;
}


function selectedRow(rw)
{
	rw.style.background="#A9BCF5";
}
function unSelectedRow(rw)
{
	rw.style.background="";
}
function getTdVal(cid)
{
	city=document.getElementById('city');
	$("#vendor_city").val(city.rows[document.getElementById(cid).rowIndex].cells[0].innerHTML);
	$("ajaxAutoComplete").css("display","none");
}
function submitvendorform()
{
	a=document.getElementById('recaptcha_response_field').value;
	b=document.getElementById('recaptcha_challenge_field').value;
	$.ajax({
	  url: '<%=captchatest_vendors_path()%>',
	  data: { xxx : a, vvv: b},
	  dataType: 'text',
	  success: function(text) {
			if (text=="false")
			{
				 alert("captcha not correct");
			<!--Recaptcha.reload();-->
			location.reload();
			}
			else
	
			{
			$("form").submit();

			}
  		}
	});
}

$(document).ready(function(){
	var list=null;
	$("#vendor_city").keyup(function(){ 
	 if($("#vendor_city").val().length>2)
	 {
    var position = $("#vendor_city").position();
		vleft=position.left;
		vtop=position.top;
		$.ajax({
			url: '/vendors/auto_search/'+$("#vendor_city").val(),
			dataType: 'html',
			success: function(data) {
				$("#ajaxAutoComplete").html(dataGrid(jQuery.parseJSON(data)));
					$("#ajaxAutoComplete").css('left', vleft);
					$("#ajaxAutoComplete").css('top', vtop+20);
				$("#ajaxAutoComplete").css("display","block");
			},
			error: function(data)
			{
				alert("error");
			}
		});
	  }
else
{
$("#ajaxAutoComplete").css("display","none");
}
	});

	$(".full").click(function(){
		$("#ajaxAutoComplete").css("display","none");

	});	
});




$(document).ready(function(){
	var list=null;
	$("#vendor_p_city").keyup(function(){ 
	 if($("#vendor_p_city").val().length>2)
	 {
    var position = $("#vendor_p_city").position();
		vleft=position.left;
		vtop=position.top;
		$.ajax({
			url: '/vendors/auto_search/'+$("#vendor_p_city").val(),
			dataType: 'html',
			success: function(data) {
				$("#ajaxAutoComplete1").html(dataGrid(jQuery.parseJSON(data)));
					$("#ajaxAutoComplete1").css('left', vleft);
					$("#ajaxAutoComplete1").css('top', vtop+20);
				$("#ajaxAutoComplete1").css("display","block");
			},
			error: function(data)
			{
				alert("error");
			}
		});
	  }
else
{
$("#ajaxAutoComplete1").css("display","none");
}
	});

	$(".full").click(function(){
		$("#ajaxAutoComplete1").css("display","none");

	});	
});

function getTdVal(cid)
{
	city=document.getElementById('city');
	$("#vendor_city").val(city.rows[document.getElementById(cid).rowIndex].cells[0].innerHTML);
	$("ajaxAutoComplete").css("display","none");
}




function degreesdataGrid(obj)
{
	data="<table id='school'>";
	row="";
	for(i=0;i<obj.length;i++)
	{			
		row+="<tr id="+(obj[i].toString().split(",")[0])+" onmouseover='selectedRow(this)' onclick=getTdVal('"+obj[i].toString().split(",")[0]+"') onmouseout='unSelectedRow(this)'><td style='width:60%;'>"+obj[i].toString().split(",")[1]+"</td></tr>";
	}
	data+=row+"</table>";
	
	return data;
}



$(document).ready(function(){
	var list=null;
	$("#vendor_school").keyup(function(){ 

	 if($("#vendor_school").val().length>2)
	 {
    var position = $("#vendor_school").position();
		vleft=position.left;
		vtop=position.top;
		$.ajax({
			url: '/vendors/auto_search1/'+$("#vendor_school").val(),
			dataType: 'html',
			success: function(data) {
				$("#ajaxAutoComplete2").html(degreesdataGrid(jQuery.parseJSON(data)));
					$("#ajaxAutoComplete2").css('left', vleft);
					$("#ajaxAutoComplete2").css('top', vtop+20);
				$("#ajaxAutoComplete2").css("display","block");
			},
			error: function(data)
			{
				alert("error");
			}
		});
	  }
else
{
$("#ajaxAutoComplete2").css("display","none");
}
	});

	$(".full").click(function(){
		$("#ajaxAutoComplete2").css("display","none");

	});	
});




$(document).ready(function(){
	var list=null;
	$("#vendor_degrees").keyup(function(){ 

	 if($("#vendor_degrees").val().length>2)
	 {
    var position = $("#vendor_degrees").position();
		vleft=position.left;
		vtop=position.top;
		$.ajax({
			url: '/vendors/auto_search2/'+$("#vendor_degrees").val(),
			dataType: 'html',
			success: function(data) {
				$("#ajaxAutoComplete3").html(degreesdataGrid(jQuery.parseJSON(data)));
					$("#ajaxAutoComplete3").css('left', vleft);
					$("#ajaxAutoComplete3").css('top', vtop+20);
				$("#ajaxAutoComplete3").css("display","block");
			},
			error: function(data)
			{
				alert("error");
			}
		});
	  }
else
{
$("#ajaxAutoComplete3").css("display","none");
}
	});

	$(".full").click(function(){
		$("#ajaxAutoComplete3").css("display","none");

	});	
});


</script>




<br/><br/><%#=link_to "Back", :back, :style=>"margin-left: 30%;" %><br/>

<%= form_for @vendor, :url => vendors_path do |f| %>
 <%= render :partial => "#{@vendor.current_step}_step", :locals => { :f => f } %>
 
<% end %>
<br/><br/><%#=link_to "Back", :back, :style => "margin-left: 0%;"  %><br/>
