<script type="text/javascript">
  <% content_for :js do %>
    $(function() {
      $("tr").mouseover(function(){
        $(this).css("background-color","#ccc");
      }).mouseout(function(){
        $(this).css("background-color","#FFFFFF");
      });
   });
  <%end%>
</script>

          <div class="grid_5 ">
          <p id="user-name" class="grid_5" style="font-size:1.5em;"><%= @vendor.business_name %></p>
          <div class="profile-avatar avatar"><%= image_tag(@vendor.photo.url(:profile)) %></div>
			 <div class="sidebar-container" style=""><%if session[:vendor] && session[:vendor].id == @vendor.id && session[:vendor].vendor_type==@vendor.vendor_type%>
			 <%= link_to 'Edit', edit_vendor_path(@vendor.id)+"/"+"#{@vendor.business_name}".gsub(/\W+/, "-").gsub(/^[-]+|[-]$/,"").gsub('.'," ").strip, :id => 'edit-profile', :class => 'outlined-fade', :title => 'Edit your profile' %><%end%>
			 <div class="clear">&nbsp;</div>
			 </div>
			 </div>

<br><br><%#= link_to 'Back', :back, :style=>"margin-left:5%;" %><br><br>


<div style="margin-left:25em;">  
	<%= render :partial => 'form1' %>  
</div>

<br><%#= link_to 'Back', :back, :style=>"margin-left:35%;" %>
