<div id="nav-bar" style="margin-left:22.7em;margin-top:-4.4%;">
    <%= render :partial => 'shared/nav_bar' %>
</div>
<div class="clear"></div>

<div style="margin:1% 0 0 40%;width:62%;height:1%;padding:1%;">
  <form id="vendor-search" action="<%=vendor_path%>">
    <div style="float:left;width:10%;">
      <label>Search</label>
    </div>
    
    <div style="float:left;">
      <input type="text" name='query' style="height:1.8em;padding:0;margin:0;" placeholder ='Enter your search query...' />
    </div>
    
    <div style="float:left;margin-left:2%;">
      <select name="searchtype" style="height:2em;margin:0 1%;padding:0;">
        <option value="all" selected="selected">All</value>
        <option value="gyms">Gyms</value>
        <option value="restaurants">Restaurants</value>
        <option value="nutritionist">Nutritionist</value>
        <option value="drs">Dr’s</value>
        <option value="personal_trainers">Personal Trainers</value>
      </select>
    </div>
    
    <div style="float:left;margin-left:2%;">
      <button id="search" class="button grid_3" style=" height:26px;font-size:12pt;width:6em;padding:0;margin:0;" type="submit">
          <img src="/assets/search.png" alt="Search" />Search
      </button>
    </div>
    
  </form>
</div>
