<div class="grid_2 alpha textcenter">
  <span class="day_of_week"><%= day.strftime("%A") %></span><br/>
  <span class="date_of_day"><%= day.strftime("%d") %></span>
  <div class="button" style="padding: 5px;"><%= link_to "+ Add Meal", new_meal_path(:date => day) %></div>
</div>

<div class="grid_9 omega">
  <% @meals = current_user.meals.find(:all, :conditions => ["ate_on LIKE ?", "#{day}%"], :order => "time_of_day ASC") %>
  <% if @meals.empty? %>
    <h3>You haven't entered any meals for this day</h3>
  <% end %>
  <% @meals.each do |meal| %>
    <%= render :partial => 'meal', :locals => {:meal => meal } %>
  <% end %>
  
</div>

<hr class="grid_11 day_seperator"/>

<div class="clear"></div>