
<!-- Tracking Show -->
<div class="full">
  <div class="grid_4">
    <div id="inline-calendar"></div>
    
  </div>
  
  <div class="grid_12">
    <p class="h3" style="margin: 50px 0px;">
      Hi <%= current_user.first_name %>, what did you eat? <%= select_tag "", options_for_select(Meal::TYPES) %>
    </p>
    
    <br/>
    
    <% Time.zone.now.to_date.downto(Time.zone.now.to_date-6.days) do |day| %>
      
      <%= render :partial => 'day', :locals => { :day => day } %>
      
    <% end %>
  </div>
  
</div>

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
    $('#inline-calendar').datepicker();
  <% end %>
</script>

<style type="text/css" media="screen">
  .ui-datepicker { width: auto !important; }
</style>