<div id="inline-calendar" style="display:none;"></div>
Meal Tracker
<hr class="grid_11 day_seperator"/>

<div class="grid_11">
  <% (0..6).each do |index| %>
    <%= render :partial => 'day', :locals => { :day => index.days.ago } %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  <% content_for :js do %>
    $('#inline-calendar').datepicker({
       dateFormat: "yy-mm-dd",
       defaultDate: "<%= @start_date %>",
       onSelect: function(dateText, inst) { 
         window.location = "<%= meals_path %>?date=" + dateText;
       }
    });
  <% end %>
</script>

<style type="text/css" media="screen">
  .ui-datepicker { width: auto !important; }
</style>
