<% if category.has_content? %>
  <li class="<%= params[:search] && params[:search][:category_id] == category.id.to_s ? 'selected' : '' %>">
    <%= link_to category.name, searches_path("search[category_id]" => category.id, "search[filter]" => 'articles'), "data-id" => category.id %>
  </li>
<% end %>



<!--
 <%# if category.descendants %>
 <div style="margin-left:3em;" class="<%=category.name%>">
 <%#@child=category.descendants%>
 <%#@child.each do |f|%>
 
 
  <li class="<%#= params[:search] && params[:search][:category_id] == category.id.to_s ? 'selected' : '' %>">
    <%#= link_to "--"+f.name, searches_path("search[category_id]" => f.id, "search[filter]" => 'articles'), "data-id" => f.id %>
  </li><% end %>
  
  
 </div> 
<%# end %> -->
 
 
 
<!--
<%# if category.has_text_content? %>
  <li class="<%#= params[:search] && params[:search][:category_id] == category.id.to_s ? 'selected' : '' %>">
    <%#= link_to category.name, searches_path("search[category_id]" => category.id, "search[filter]" => 'articles'), "data-id" => category.id %>
  </li>
<% #end %>
-->





<!--
<%# if category.has_text_content? %>
  <li class="<%#= params[:search] && params[:search][:category_id] == category.id.to_s ? 'selected' : '' %>">
    <%#= link_to category.name, searches_path("search[category_id]" => category.id, "search[filter]" => 'articles'), "data-id" => category.id %>
  </li>
<% #end %>
-->
