<div class="field">
    <%= f.label :Photo_name %><br />
    <%= f.text_field :name, :style => "height: 1.2em;width:40%;" %>
  </div>

  <div>
  <br/><%= f.label 'Pic' %><br/>
  <%= f.file_field :photo %>
</div>
