<div class="post">
  <div class="post-image">
    <%= link_to (image_tag post.image1.url(:medium)), post_path(post)%>
  </div>
  <div class="post-content">
    <h3 class="post-title"><%= link_to post.page_title, post_path(post) %></h3>
    <div class="post-creation-date"><%= post.created_at.nil? ? "" :post.created_at.to_s(:short) %></div>
    <p class="post-teaser"><%= truncate(strip_tags(post.body), :length => 150).html_safe %></p>
  </div>
<div class="clear">&nbsp;</div>
<hr class="hor-rule">
</div>
